## Hello World!

In [2]:
print("Hello World!")

Hello World!

## To kill the kernel

In [2]:
exit()

## Python indentation rule

In [5]:
if 5>2:
    print("Five is greater than two")

Five is greater than two

standard indentation is 4 spaces, keyboard shortcut for it is 'tab'

## Python comments

In [45]:
#This is a comment

## Python variables

Python has no command for declaring a variable.
A variable is created the moment when we first assign a value to it

In [7]:
x = 7
y = 'vibodh'
print(x)
print(y)

7
vibodh

## Checking the type of the variables

In [8]:
type(x)

int

In [9]:
type(y)

str

## Casting

In [1]:
x = str(7)
y = int(7.4)
z = float(7.4)

In [2]:
print(x)
print(y)
print(z)

7
7
7.4

In [3]:
type(x)

str

In [4]:
type(y)

int

In [5]:
type(z)

float

In [2]:
#In Python "" and '' have the same meaning
var1 = 'Hello World'
var2 = "Hello World"
print(var1)
print(var2)

Hello World
Hello World

In Python, variable names are case-sensitive

## Variable names in Python

Rule for variable names in Python

 Any variable name can ONLY contain a-z, 0-9 and '_' and it cannot start with a number. Also they are case-sensitive.

In [44]:
#A variable name can only start with a-z or '_'
var1 = 7
_var1 = 9
print('variable 1:', var1)
print('variable 1 with _:' , _var1)

variable 1: 7
variable 1 with _: 9

In [38]:
#A variable name cannot start with a number
8myvar = 7

SyntaxError: invalid syntax (Temp/ipykernel_7656/921040977.py, line 2)

In [48]:
#A variable name CANNOT contain special characters like @,#,%,etc.
my@var = 7

SyntaxError: cannot assign to operator (Temp/ipykernel_7656/2284620821.py, line 2)

In [47]:
#Variable names are case-sensitive
myvar = 7
Myvar = 9
myVar = 8
print(myvar)
print(Myvar)
print(myVar)

7
9
8

some other illegal variable names in Python

In [32]:
my-var = 7

SyntaxError: cannot assign to operator (Temp/ipykernel_7656/3629373059.py, line 1)

In [26]:
my var = 7

SyntaxError: invalid syntax (Temp/ipykernel_8428/4115987473.py, line 1)

## 3 popular variable naming techniques in Python

The purpose of variable naming techniques in Python is to make the code readable

1. Camel case:
Every word in the variable name has caps except the 1st word
myVarName = 7
2. Pascal case:
Every word in the variable name has caps
MyVarName = 7
3. Snake case:
Every word in the variable is separated by '_'   
my_var_name = 7

## Ways of assigning values in Python

### Assigning multiple values to multiple variables in one line

In [21]:
x, y, z = 7, 8, 9
print(x)
print(y)
print(z)

7
8
9

### Assigning one value to multiple variables in one line

In [27]:
x = y = z = 7
print(x)
print(y)
print(z)

7
7
7

## Data types

### Text type aka string

In [17]:
x = 'Hello World'
x

'Hello World'

In [9]:
type(x)

str

### Numeric type

In [12]:
x = 45

In [13]:
type(x)

int

In [14]:
x = 45.2

In [15]:
type(x)

float

In [23]:
x = 45 + 2j

In [24]:
type(x)

complex

## Lists(array)

In [1]:
x = ['Gel pen', 'Click pencil', 'Eraser']
print(x)
type(x)

['Ball pen', 'Click pencil', 'Eraser']

list

Lists are one of the 4 built-in data types used to store collections of data(arrays).

A collection of data is called an 'array'

The other 3 are tuples, sets and dictionaries(dict)

The elements/items in any list have a defined order and this order does NOT change.

In [2]:
x[0]

'Ball pen'

### To change the value of any element in the list

In [4]:
x[0] = 'Fountain pen'

In [5]:
x

['Fountain pen', 'Click pencil', 'Eraser']

In [6]:
x[1]

'Click pencil'

In [7]:
x[1] = 'Pencil'

In [8]:
x

['Fountain pen', 'Pencil', 'Eraser']

In [9]:
x[2]

'Eraser'

In [10]:
x[2] = 'Ink eraser'

In [11]:
x

['Fountain pen', 'Pencil', 'Ink eraser']

### To find the length of lists

In [15]:
print(len(x))

3

### Adding items to a list

In [2]:
x

['Ball pen', 'Click pencil', 'Eraser']

In [6]:
x.append('Fountain pen')

In [7]:
x

['Ball pen', 'Click pencil', 'Eraser', 'Fountain pen']

### Removing items/elements from a list

There are 2 methods to remove elements/items from a list

In [8]:
x.remove('Gel pen')

In [9]:
x

['Click pencil', 'Eraser', 'Fountain pen']

### removing using index

In [8]:
x

['Ball pen', 'Click pencil', 'Eraser']

In [9]:
x.remove(x[0])

In [10]:
x

['Click pencil', 'Eraser']

(2nd method)Removing the 1st element from the list 'x' using the 'pop()' method

In [10]:
x.pop(0)

'Click pencil'

In [11]:
x

['Eraser', 'Fountain pen']

### Counting the number of times an element appears in a list/array

In [12]:
x

['Eraser', 'Fountain pen']

In [18]:
x.count('Eraser')

1

In [5]:
x.append('Eraser')

In [6]:
x

['Ball pen', 'Click pencil', 'Eraser', 'Eraser']

In [7]:
x.count('Eraser')

2

In [9]:
x.count(x[2])

2

### Inserting an element at a specific position

In [23]:
x

['Eraser', 'Fountain pen', 'Eraser']

Inserting the string element 'Gel pen' at the 1st position

In [24]:
x.insert(0, 'Gel pen')

In [25]:
x

['Ball pen', 'Eraser', 'Fountain pen', 'Eraser']

### Sorting a list- sort method of lists

In [13]:
x

['Ball pen', 'Click pencil', 'Eraser']

#### Sorting in alphabetical order

In [14]:
x.sort()

In [15]:
x

['Ball pen', 'Click pencil', 'Eraser']

#### Sorting in reverse alphabetical order

In [16]:
x.sort(reverse = True)

In [17]:
x

['Eraser', 'Click pencil', 'Ball pen']

#### Sorting in ascending order

In [13]:
x = [5,4,7,3,1,9,0]

In [31]:
x.sort()

In [32]:
x

[0, 1, 3, 4, 5, 7, 9]

#### Sorting in descending order

In [34]:
x

[5, 4, 7, 3, 1, 9, 0]

In [35]:
x.sort(reverse = True)

In [36]:
x

[9, 7, 5, 4, 3, 1, 0]

#### Sorting using 'key' parameter

In [14]:
x

[5, 4, 7, 3, 1, 9, 0]

In [15]:
def div_2(y):
    return y%2

In [16]:
x.sort(key=div_2)

In [17]:
x

[4, 0, 5, 7, 3, 1, 9]

We can see above, the numbers that are divisible by 2(even numbers, here '4' and '0') are first in the list, in the ascending order

for the descending order wherein even numbers come last-

In [18]:
x.sort(key=div_2, reverse = True)

In [19]:
x

[5, 7, 3, 1, 9, 4, 0]

In [39]:
x

['Ball pen', 'Click pencil', 'Eraser']

Sorting by the length of the words/string starting by smallest

In [40]:
x.sort(key=len)

In [41]:
x

['Eraser', 'Ball pen', 'Click pencil']

Sorting by the length of the words starting by largest

In [42]:
x.sort(key = len,reverse = True)

In [43]:
x

['Click pencil', 'Ball pen', 'Eraser']

another example

In [22]:
x

[{'Name': 'Prathamesh', 'Age': 31},
 {'Name': 'Dattaram', 'Age': 62},
 {'Name': 'Vibodh', 'Age': 25},
 {'Name': 'Suman', 'Age': 58}]

Here, x is a list of dictionaries. In other words, every element of x is a dictionary

In [23]:
def get_age(element):
    return element['Age']

Sorting by age in ascending order

In [25]:
x.sort(key = get_age)
print(x)

[{'Name': 'Vibodh', 'Age': 25}, {'Name': 'Prathamesh', 'Age': 31}, {'Name': 'Suman', 'Age': 58}, {'Name': 'Dattaram', 'Age': 62}]

Sorting by age in descending order

In [26]:
x.sort(key = get_age, reverse = True)
print(x)

[{'Name': 'Dattaram', 'Age': 62}, {'Name': 'Suman', 'Age': 58}, {'Name': 'Prathamesh', 'Age': 31}, {'Name': 'Vibodh', 'Age': 25}]

### List constructor

In [17]:
x = list(('Dattaram','Suman','Prathamesh','Vibodh'))

In [18]:
x

['Dattaram', 'Suman', 'Prathamesh', 'Vibodh']

### Checking the index of items- index method of lists

In [2]:
x = ['Eraser','Click pencil','Gel pen']

In [27]:
x.index('Click pencil')

1

In [28]:
x.index('Gel pen')

2

In [23]:
y = ['Writing pad','Exercise book','Pages']

In [24]:
x.extend(y)

In [25]:
x

['Eraser',
 'Eraser',
 'Click pencil',
 'Ball pen',
 'Writing pad',
 'Exercise book',
 'Pages']

### Adding tuple elements to a list- Extend method of lists

In [30]:
y = ('Writing pad','Exercise book','Pages')

In [31]:
x

['Eraser', 'Click pencil', 'Ball pen']

In [32]:
x.extend(y)

In [33]:
x

['Eraser', 'Click pencil', 'Ball pen', 'Writing pad', 'Exercise book', 'Pages']

### Creating a copy of a list-Copy method of list

In [34]:
x

['Eraser', 'Click pencil', 'Ball pen', 'Writing pad', 'Exercise book', 'Pages']

In [35]:
stationery_essentials = x.copy()

In [36]:
stationery_essentials

['Eraser', 'Click pencil', 'Ball pen', 'Writing pad', 'Exercise book', 'Pages']

### To print a range of elements(acc to index) from a list

In [5]:
x

['Eraser', 'Click pencil', 'Ball pen']

In [4]:
x[0:2]

['Eraser', 'Click pencil']

Here, we have printed the list with elements starting with index=0 and ending with index=1

In [6]:
x[0:1]

['Eraser']

### Using loop on lists

In [7]:
x

['Eraser', 'Click pencil', 'Ball pen']

### Using 'for' loop

##### Printing all elements in a list

In [9]:
for i in x:
    print(i)

Eraser
Click pencil
Ball pen

In [11]:
for i in range(len(x)):
    print(x[i])

Eraser
Click pencil
Ball pen

##### Using 'while' loop

In [12]:
x

['Eraser', 'Click pencil', 'Ball pen']

In [14]:
len(x)

3

In [13]:
i=0
while i < len(x):
    print(x[i])
    i = i + 1

Eraser
Click pencil
Ball pen

##### Using list comprehension

In [15]:
x

['Eraser', 'Click pencil', 'Ball pen']

In [16]:
[print(i) for i in x ]

Eraser
Click pencil
Ball pen

[None, None, None]

#### Unpacking a list(or any other array) i.e taking elements from the array and storing them into variables in an orderly way

In [1]:
sport_games = ['Football', 'Cricket', 'Badminton']
x, y, z = sport_games

In [20]:
x

'Football'

In [5]:
y

'Cricket'

In [2]:
z

'Badminton'

### List comprehension

In [30]:
x

['Eraser', 'Click pencil', 'Ball pen', 'Fountain pen', 'Gel pen']

In [19]:
x.append('Fountain pen')

In [20]:
x.append('Gel pen')

In [35]:
x.remove('Click pencil')

In [36]:
x

['Eraser', 'Ball pen', 'Fountain pen', 'Gel pen']

From the above list 'x', we want a list('pens') that contains all the 'pens' ONLY, we use list comprehension for this.

In [37]:
pens = [i for i in x if 'pen' in i]

In [38]:
pens

['Ball pen', 'Fountain pen', 'Gel pen']

#### Joining lists

In [25]:
x = ['Gel pen', 'Click pencil','Eraser']

In [26]:
y = ['Writing pad','Paper','Exercise book']

In [17]:
for i in y:
    x.append(i)

In [18]:
x

['Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book']

using the 'extend' method

In [21]:
x

['Ball pen', 'Click pencil', 'Eraser']

In [22]:
y

['Writing pad', 'Paper', 'Exercise book']

In [23]:
x.extend(y)

In [24]:
x

['Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book']

using the instances

In [27]:
x

['Ball pen', 'Click pencil', 'Eraser']

In [28]:
y

['Writing pad', 'Paper', 'Exercise book']

In [29]:
t = x + y

In [30]:
t

['Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book']

#### Reversing the order of the list

In [31]:
x

['Ball pen', 'Click pencil', 'Eraser']

In [32]:
x.reverse()

In [33]:
x

['Eraser', 'Click pencil', 'Ball pen']

#### Removing all the elements from a list

In [35]:
x

['Eraser', 'Click pencil', 'Ball pen']

In [36]:
x.clear()

In [37]:
x

[]

## Tuples(array)

In [35]:
x = ('Gel pen', 'Click pencil', 'Eraser')
print(x)
type(x)

('Ball pen', 'Click pencil', 'Eraser')

tuple

In [18]:
x[0]

'Eraser'

In [19]:
x[1]

'Click pencil'

In [20]:
x[2]

'Ball pen'

Key differences between 'lists' and 'tuples'
1. Lists can be modified but Tuples cannot be, in other words, tuples are immutable.
2. Lists have many built in methods, tuples don't have.
3. Lists are more error prone, tuples are not.
4. Tuples are better for accessing elements, Lists are better for insertion & deletion of elements.
5. Iterations are faster in tuples than in lists.

Assigning values to a tuple is called 'packing a tuple'

### Unpacking a tuple i.e extracting the values of a tuple into variables

In [39]:
x = ('Gel pen','Click pencil','Eraser')

In [40]:
(red,green,blue) = x

In [41]:
red

'Ball pen'

In [42]:
green

'Click pencil'

In [43]:
blue

'Eraser'

Assigning a list of values to a variable from a tuple while unpacking

In [44]:
x = ('Gel pen','Click pencil','Eraser','Writing pad','Paper','Exercise book')

In [45]:
(red,green,blue,*violet) = x

In [46]:
red

'Ball pen'

In [47]:
green

'Click pencil'

In [48]:
blue

'Eraser'

In [49]:
violet

['Writing pad', 'Paper', 'Exercise book']

In [50]:
type(violet)

list

### Converting a tuple into a list using list function

In [51]:
x

('Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book')

In [52]:
type(x)

tuple

In [55]:
y = list(x)

In [56]:
y

['Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book']

In [57]:
type(y)

list

If a tuple has only 1 element, we have to add a comma after it or else it isn't identified as a tuple

In [58]:
y = ('fountain pen')

In [59]:
type(y)

str

In [60]:
y = ('fountain pen',)

In [61]:
type(y)

tuple

### Adding a tuple to a tuple

In [62]:
x

('Ball pen', 'Click pencil', 'Eraser', 'Writing pad', 'Paper', 'Exercise book')

In [63]:
y

('fountain pen',)

In [64]:
x += y

In [65]:
x

('Ball pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen')

In [66]:
type(x)

tuple

### Multiplying a tuple by a number/scalar

In [71]:
x

('Ball pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen')

In [72]:
x_2 = 2*x

In [73]:
x_2

('Ball pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen',
 'Ball pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen')

### Using loops on tuples

In [67]:
x

('Ball pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen')

In [68]:
for i in x:
    print(i)

Ball pen
Click pencil
Eraser
Writing pad
Paper
Exercise book
fountain pen

another method to do the same printing

In [69]:
for i in range(len(x)):
    print(x[i])

Ball pen
Click pencil
Eraser
Writing pad
Paper
Exercise book
fountain pen

In [70]:
i = 0
while i < len(x):
    print(x[i])
    i += 1

Ball pen
Click pencil
Eraser
Writing pad
Paper
Exercise book
fountain pen

### Tuple count() method

In [81]:
x = (2,3,4,5,4,5,6,4,5,6,7,8,7,8,9,6,7,4,5,2,3,4,3,6,5,8,7,5,6,7)

In [82]:
x_count = x.count(6)
print(x_count)

5

The above value '5' means that the number 5 is repeated 6 times in the tuple named/initialized as 'x'

In [83]:
x_count = x.count(1)
print(x_count)

0

The above value '0' means that there is no number in the tuple x that hasn't repeated

In [1]:
x=('Gel pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen',
 'Gel pen',
 'Click pencil',
 'Eraser',
 'Writing pad',
 'Paper',
 'Exercise book',
 'fountain pen')

In [2]:
x.count('Gel pen')

2

In [3]:
x.count(x[0])

2

### Tuple index() method

In [84]:
x

(2,
 3,
 4,
 5,
 4,
 5,
 6,
 4,
 5,
 6,
 7,
 8,
 7,
 8,
 9,
 6,
 7,
 4,
 5,
 2,
 3,
 4,
 3,
 6,
 5,
 8,
 7,
 5,
 6,
 7)

In [87]:
index_x = x.index(2)
print(index_x)

0

In [88]:
index_x = x.index(3)
print(index_x)

1

In [89]:
index_x = x.index(7)
print(index_x)

10

In [90]:
x.index(8)

11

In [91]:
x.index(10)

ValueError: tuple.index(x): x not in tuple

The above numbers 0, 1, 10, 11 indicate that the number 2 appears first at position 0, the number 3 appears first at position 1, the number 7 appears first at position 10, and the number 8 appears first at position 11

The argument 10 in the method index throws an exception because there is no number 10 in the tuple x

## Range

In [3]:
x = range(8)
print(x)
type(x)

range(0, 8)

range

Range is usually used in loops

In [25]:
x = list(x)
x

['Ball pen',
 'Gel pen',
 'Click pencil',
 'paper',
 'Exercise book',
 'Eraser',
 'Writing pad']

In [26]:
for i in range(len(x)):
    print(x[i])

Ball pen
Gel pen
Click pencil
paper
Exercise book
Eraser
Writing pad

## Dictionaries(Array)

Dictionaries are ordered, changeable/mutable and don't allow duplicates(like sets)

In [1]:
x = {'Name':'Vibodh','Age':25,'Field':'Data Science'}

In [11]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Data Science'}

In [7]:
type(x)

dict

In [12]:
x['Name']

'Vibodh'

In [15]:
x.get('Name')

'Vibodh'

In [13]:
x['Age']

25

In [16]:
x.get('Age')

25

In [14]:
x['Field']

'Data Science'

In [17]:
x.get('Field')

'Data Science'

### To get all the keys in the dictionary- keys() method of dictionaries

In [19]:
x.keys()

dict_keys(['Name', 'Age', 'Field'])

In [20]:
x['Education'] = 'Masters'

In [21]:
x.keys()

dict_keys(['Name', 'Age', 'Field', 'Education'])

### To get all the values in the dictionary- values method of dictionaries

In [22]:
x.values()

dict_values(['Vibodh', 25, 'Data Science', 'Masters'])

In [23]:
x['Field'] = 'Marketing'

In [24]:
x.values()

dict_values(['Vibodh', 25, 'Marketing', 'Masters'])

### To get a list of all key-value pairs in the dictionary- items() method of dictionaries

In [25]:
x.items()

dict_items([('Name', 'Vibodh'), ('Age', 25), ('Field', 'Marketing'), ('Education', 'Masters')])

In [27]:
x['Age'] = 26

In [28]:
x.items()

dict_items([('Name', 'Vibodh'), ('Age', 26), ('Field', 'Marketing'), ('Education', 'Masters')])

### To check if a specified key is present in the dictionary or not- 'in' keyword

In [32]:
if 'Age' in x:
    print('The age key exists')
else:
    print("The age key doesn't exist")

The age key exists

### Duplicates are not allowed in Dictionaries

In [4]:
x = {'Name':'Vibodh', 'Age': 25, 'Age': 23, 'Field':'Data Science'}

In [5]:
x

{'Name': 'Vibodh', 'Age': 23, 'Field': 'Data Science'}

### To change values in Dictionaries

#### By assigning

In [6]:
x['Age'] = 25

In [7]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Data Science'}

#### By using update() method of Dictionaries

In [9]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Data Science'}

In [10]:
x.update({'Field':'Marketing'})

In [11]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Marketing'}

### Adding elements in Dictionaries

#### By assigning

In [12]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Marketing'}

In [13]:
x['Education'] = 'Masters'

In [14]:
x

{'Name': 'Vibodh', 'Age': 25, 'Field': 'Marketing', 'Education': 'Masters'}

#### By using update() method of Dictionaries

In [15]:
x.update({'City':'Thane'})

In [16]:
x

{'Name': 'Vibodh',
 'Age': 25,
 'Field': 'Marketing',
 'Education': 'Masters',
 'City': 'Thane'}

### To remove elements- pop() method of Dictionaries

In [20]:
x

{'Name': 'Vibodh',
 'Age': 25,
 'Field': 'Marketing',
 'Education': 'Masters',
 'City': 'Thane'}

In [21]:
x.pop('Field')

'Marketing'

In [22]:
x

{'Name': 'Vibodh', 'Age': 25, 'Education': 'Masters', 'City': 'Thane'}

### Using loops on Dictionaries

#### To print all the key names in the dictionary using 'for loop'

In [24]:
for i in x:
    print(i)

Name
Age
Education
City

using keys() method of dictionaries

In [27]:
for i in x.keys():
    print(i)

Name
Age
Education
City

#### To print all the values in the dictionary using 'for loop'

In [25]:
for i in x:
    print(x[i])

Vibodh
25
Masters
Thane

using values() method of Dictionaries

In [26]:
for i in x.values():
    print(i)

Vibodh
25
Masters
Thane

#### To print all key:value pairs using for loop and items() method of Dictionaries

In [28]:
for i,j in x.items():
    print(i,j)

Name Vibodh
Age 25
Education Masters
City Thane

### len(x) function- length of a dictionary

In [18]:
len(x)

4

## Set types(Arrays)

### Sets

In [53]:
x = {'Gel pen','click pencil','eraser'}
print(x)
type(x)

{'eraser', 'ball pen', 'click pencil'}

set

A set is an array(collection of data) which is unordered and unindexed

Unlike lists and tuples, sets don't allow duplicate values

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

#### Length of a set

In [5]:
len(x)

3

#### The set() constructor

In [7]:
x = set(("Gel pen", "Click pencil", "Eraser"))

In [8]:
x

{'Ball pen', 'Click pencil', 'Eraser'}

In [9]:
type(x)

set

#### Checking whether an element is present in a set

In [11]:
print('Gel pen' in x)

True

In [12]:
'Gel pen' in x

True

In [13]:
'Gel pen' in x

False

#### Set method 'Add'

In [15]:
x

{'Ball pen', 'Click pencil', 'Eraser'}

Adding elements individually

In [16]:
x.add('Gel pen')

In [17]:
x

{'Ball pen', 'Click pencil', 'Eraser', 'Gel pen'}

#### Set method 'update'

Adding elements from another array/iterable/iterator

In [18]:
y = ['Writing pad','paper','Exercise book']

In [19]:
x

{'Ball pen', 'Click pencil', 'Eraser', 'Gel pen'}

In [20]:
x.update(y)
print(x)

{'Ball pen', 'Gel pen', 'Click pencil', 'paper', 'Exercise book', 'Eraser', 'Writing pad'}

#### Set method 'remove'

In [56]:
x

{'ball pen', 'click pencil', 'eraser'}

In [57]:
x.remove('Gel pen')
print(x)

{'eraser', 'click pencil'}

#### Set method 'discard'

In [42]:
x

{'Click pencil', 'Eraser', 'Exercise book', 'Gel pen', 'Writing pad', 'paper'}

In [44]:
x.discard('Gel pen')

In [45]:
x

{'Click pencil', 'Eraser', 'Exercise book', 'Writing pad', 'paper'}

#### Removing an element randomly using pop method of sets

In [46]:
x

{'Click pencil', 'Eraser', 'Exercise book', 'Writing pad', 'paper'}

In [47]:
x.pop()

'Exercise book'

Here, the element 'Exercise book' got removed, in a random manner

In [48]:
x

{'Click pencil', 'Eraser', 'Writing pad', 'paper'}

#### Set 'clear' method

In [49]:
x

{'Click pencil', 'Eraser', 'Writing pad', 'paper'}

In [50]:
x.clear()

In [51]:
x

set()

In [52]:
bool(x)

False

#### Deleting a set using 'del' keyword

In [58]:
x

{'click pencil', 'eraser'}

In [59]:
del x

In [60]:
x

NameError: name 'x' is not defined

#### Using loop on sets

In [71]:
x = {'Gel pen','Click pencil','Eraser'}

In [63]:
for i in x:
    print(i)

Ball pen
Click pencil
Eraser

#### Joining sets( the union method)

In [72]:
x

{'Ball pen', 'Click pencil', 'Eraser'}

In [73]:
y

['Writing pad', 'paper', 'Exercise book']

In [66]:
u = x.union(y)

In [67]:
u

{'Ball pen', 'Click pencil', 'Eraser', 'Exercise book', 'Writing pad', 'paper'}

The update method

In [68]:
x.update(y)

In [69]:
x

{'Ball pen', 'Click pencil', 'Eraser', 'Exercise book', 'Writing pad', 'paper'}

#### The intersection_update() method of sets

This method only prints the common elements between sets.

In [109]:
x = {'Gel pen','Click pencil','Eraser'}

In [110]:
x.add('Gel pen')
print(x)

{'Ball pen', 'Click pencil', 'Eraser', 'Gel pen'}

In [111]:
y

{'Exercise book', 'Gel pen', 'Writing pad', 'paper'}

In [112]:
y.add('Gel pen')
print(y)

{'Exercise book', 'paper', 'Writing pad', 'Gel pen'}

In [88]:
x.intersection_update(y)
print(x)

{'Gel pen'}

#### The symmetric_difference_update() method of sets

This element only prints the elements that are NOT common between sets

In [103]:
x

{'Ball pen', 'Click pencil', 'Eraser', 'Gel pen'}

In [104]:
y

{'Exercise book', 'Gel pen', 'Writing pad', 'paper'}

In [105]:
z = x.symmetric_difference_update(y)
print(x)

{'Ball pen', 'Click pencil', 'paper', 'Exercise book', 'Eraser', 'Writing pad'}

#### The symmetric_difference method of sets

in this method, a new set contains all the elements of the 2 sets except the common elements

In [113]:
x

{'Ball pen', 'Click pencil', 'Eraser', 'Gel pen'}

In [114]:
y

{'Exercise book', 'Gel pen', 'Writing pad', 'paper'}

In [115]:
z = x.symmetric_difference(y)
print(z)

{'Ball pen', 'Click pencil', 'paper', 'Exercise book', 'Eraser', 'Writing pad'}

#### issubset method of sets

In [116]:
z = x.issubset(y)
print(z)

False

Difference between Remove method and Discard method

If the element to remove does not exist, remove() will raise an error.

But, discard() will NOT raise an error

In [45]:
x = frozenset({'Gel pen','click pencil', 'eraser'})
print(x)
type(x)

frozenset({'eraser', 'ball pen', 'click pencil'})

frozenset

In [46]:
#Boolean type

In [4]:
x = True
print(x)
type(x)

True

bool

In [5]:
x = False
print(x)
type(x)

False

bool

## Binary types

In [50]:
x = b'Hello'
print(x)
type(x)

b'Hello'

bytes

In [53]:
x = bytearray(7)
print(x)
type(x)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00')

bytearray

In [57]:
x = memoryview(bytes(7))
print(x)
type(x)

<memory at 0x00000239BD0624C0>

memoryview

In [58]:
x = None
print(x)
type(x)

None

NoneType

# 28/10/2022

Multiline strings

In [10]:
text = """
       
       Where the mind is without fear and the head is held high,
       where the clear stream of reason hasn't lost it's way,
       into the dreary desert sand of dead habit,
       where words come out from the depths of truth,
       ...
       into that heaven of freedom, my father, let my country awake!
       -Rabindranath Tagore
       
       """

print(text)

       Where the mind is without fear and the head is held high,
       where the clear stream of reason hasn't lost it's way,
       into the dreary desert sand of dead habit,
       where words come out from the depths of truth,
       ...
       into that heaven of freedom, my father, let my country awake!
       -Rabindranath Tagore

In [11]:
text = 'Hello World!'

In [17]:
print(text[0])

H

In [18]:
print(text[1])

e

In [19]:
print(text[2])

l

Strings in python are 'arrays/ordered collections of bytes' representing 'unicode' characters.

In [21]:
for x in text:
    print(x)

H
e
l
l
o

W
o
r
l
d
!

# 1/11/2022

In [12]:
len(text)

12

## Checking words in text

In [19]:
text = 'In the depths of winter, I found in myself an invincible summer -Albert Camus'

In [20]:
'summer' in text

True

In [21]:
'pessimism' in text

False

In [22]:
'pessimism' not in text

True

In [27]:
if 'Albert Camus' in text:
    print('He was quite the philosopher')

He was quite the philosopher

In [26]:
if 'summer' in text:
    print('The quote is optimistic')

The quote is optimistic

In [25]:
if 'pessimism' not in text:
    print('The quote is optimistic')

The quote is optimistic

## Booleans

In [31]:
5>4

True

In [32]:
5==4

False

In [33]:
5<4

False

In [17]:
number_1 = input()
number_2 = input()
if number_1 > number_2:
    print(number_1,'is greater than', number_2)
elif number_1 < number_2:
    print(number_1, 'is less than', number_2)
elif number_1 == number_2:
    print(number_1, 'is equal to', number_2)

5
7
5 is less than 7

## The Bool function

In [1]:
bool('Hello World')

True

In [4]:
bool('')

False

In [2]:
bool(False)

False

In [3]:
bool(True)

True

In [5]:
bool(0)

False

In [6]:
bool(12)

True

In [16]:
bool([])
#empty list

False

In [15]:
bool(())
#empty tuple

False

In [14]:
bool({})
#empty dictionary

False

In [28]:
bool(None)

False

## Python Classes/Objects

In [39]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

The __init__ function is a function that is present in all classes.

In [43]:
p1 = Person('Vibodh', 25)
p2 = Person('Prathamesh', 31)
p3 = Person('Suman', 58)
p4 = Person('Dattaram', 62)

A class creates/constructs objects. In other words, classes are 'blueprints' of objects.

Here, 'Person' is a class. 'p1','p2','p3','p4' are objects created by the class 'Person'.

Here, 'name' and 'age' are properties/attributes of the objects 'p1','p2','p3','p4' created by the class 'Person'.

In [57]:
p1

In [58]:
p2

In [41]:
p1.age

25

In [42]:
p1.name

'Vibodh'

In [33]:
p2.age

'31'

In [56]:
p2.name

'Prathamesh'

In [4]:
p3.name

'Suman'

In [5]:
p3.age

'58'

In [15]:
p4.name

'Dattaram'

In [16]:
p4.age

'62'

In [13]:
type(p1)

__main__.Person

The __str__ function returns the 'string' representation of the object of a class.

In [44]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f'Name:{self.name}, Age:({self.age})'

In [45]:
p1 = Person('Vibodh', 25)

In [46]:
p1.name

'Vibodh'

In [47]:
p1.age

25

## Object Methods

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def hello(x):
        print('Hello, my name and age is', x.name, x.age)

In [5]:
p1 = Person('Vibodh', 25)

In [73]:
p2 = Person('Suman',58)
p3 = Person('Dattaram', 62)
p4 = Person('Prathamesh', 31)

In [6]:
p1.hello()

Hello, my name and age is Vibodh 25

In [65]:
p2.hello()

Hello, my name is Suman

In [66]:
p3.hello()

Hello, my name is Dattaram

In [68]:
p4.hello()

Hello, my name is Prathamesh

Here, hello(x) is a method for the objects 'p1', 'p2', 'p3', 'p4' belonging to the class 'Person'.

A variable is called an 'instance' in programming.

The instance is the FIRST parameter inside any function/method in a class.

Here, the instance for the class 'Person' is 'self' and the instance for the function/method is 'x'.

### Modifying object properties

Setting the property 'age' to a fixed value '21'

In [77]:
p1.age = 21

In [78]:
p1.age

21

### Deleting the object

In [79]:
del p1.age

In [80]:
p1.age

AttributeError: 'Person' object has no attribute 'age'

In [81]:
del p1

In [82]:
p1

NameError: name 'p1' is not defined

Empty class

In [83]:
class Person:
    pass

We use the 'pass' statement in an empty class to avoid getting an error.

## Python Lambda

Python lambda is an 'anonymous' function

For example

In [6]:
x = lambda a : a*10

In [7]:
x(5)

50

In [8]:
x(10)

100

In [9]:
x(3)

30

Another example of converting Indian rupee to US dollar

In [13]:
rupee_to_us_dollar = lambda a : a*82

In [15]:
rupee_to_us_dollar(1)

82

In [17]:
rupee_to_us_dollar(20)

1640

Using this lambda(anonymous) function, we can make functions from functions

In [20]:
def multiply(n):
    return lambda a : a * n

Making 'doubler','tripler' and 'quadrupler' functions from function 'multiply'

In [21]:
doubler = multiply(2)
tripler = multiply(3)
quadrupler = multiply(4)

In [24]:
doubler(12)

24

In [25]:
tripler(12)

36

In [26]:
quadrupler(12)

48

## If...Else

In [4]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()

if a>b:
    print(a,'>',b)
elif a<b:
    print(a,'<',b)
else:
    print(a,'=',b)

Enter the first number
50
Enter the second number
50
50 = 50

same program using 'elif' keyword in place of 'else'

In [5]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()

if a>b:
    print(a,'>',b)
elif a<b:
    print(a,'<',b)
elif a==b:
    print(a,'=',b)

Enter the first number
50
Enter the second number
50
50 = 50

#### Short hand 'if'

In [6]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()

if a>b: print(a,'>',b)
if a<b: print(a,'<',b)
if a==b: print(a,'=',b)

Enter the first number
50
Enter the second number
50
50 = 50

#### Short hand 'if...else'

In [12]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()

print(a,'>',b) if a>b else print(a,'<',b) if a<b else print(a,'=',b)

Enter the first number
50
Enter the second number
50
50 = 50

#### 'or' keyword

In [2]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()

if a>b or a==b:
    print(a,'>=',b)
elif a<b or a==b:
    print(a,'<=',b)

Enter the first number
50
Enter the second number
50
50 >= 50

#### 'and' keyword

In [3]:
print('Enter the first number')
a = input()
print('Enter the second number')
b = input()
print('Enter the third number')
c = input()

if a>b and a>c:
    print(a,'is the greatest number')
elif b>a and b>c:
    print(b,'is the greatest number')
else:
    print(c,'is the greatest number')

Enter the first number
50
Enter the second number
60
Enter the third number
70
70 is the greatest number

#### the pass statement

In [4]:
a = input()
b = input()

if a>b:
    pass

50
70

Python has 2 loop commands- 'while' loop and 'for' loop

## The while loop

Printing numbers less than 7 using while loop

In [5]:
i = 1
while i<7:
    print(i)
    i = i + 1

1
2
3
4
5
6

same program with a different notation for 'incrementing' on line 4

In [10]:
i = 1
while i<7:
    print(i)
    i += 1

1
2
3
4
5
6

#### the break statement

here, the looping is stopped when the incrementor i = 4 using the break statement

In [11]:
i = 1
while i<7:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

## The 'for' loop

In [1]:
x = ['Gel pen','Eraser','Click pencil']

In [8]:
for i in x:
     print(i)

Ball pen
Eraser
Click pencil

### the break statement

In [10]:
for i in x:
    print(i)
    if i=='Eraser':
        break

Ball pen
Eraser

### using 'for' loop on a string/text

In [11]:
text = 'Do not pray for an easy life. Pray for the strength to endure a difficult one -Bruce Lee'

In [12]:
for i in text:
    print(i)

D
o

n
o
t

p
r
a
y

f
o
r

a
n

e
a
s
y

l
i
f
e
.

P
r
a
y

f
o
r

t
h
e

s
t
r
e
n
g
t
h

t
o

e
n
d
u
r
e

a

d
i
f
f
i
c
u
l
t

o
n
e

-
B
r
u
c
e

L
e
e

### the continue statement

In [13]:
for i in x:
    if i=='Eraser':
        continue
    print(i)

Ball pen
Click pencil

Above, we use 'continue' statement to NOT print i.e skip 'Eraser'

### the range() function in the 'for' loop

In [15]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [16]:
for i in range(2,10,2):
    print(i)

2
4
6
8

### 'else' keyword in the 'for' loop

In [17]:
for i in range(7):
    print(i)
else:
    print('We printed numbers from 0-6')

0
1
2
3
4
5
6
We printed numbers from 0-6

### Nested 'for' loop

In [19]:
x

['Ball pen', 'Eraser', 'Click pencil']

In [18]:
adj = ['Red','Green','Blue']

In [21]:
for i in adj:
    for j in x:
        print(i,j)

Red Ball pen
Red Eraser
Red Click pencil
Green Ball pen
Green Eraser
Green Click pencil
Blue Ball pen
Blue Eraser
Blue Click pencil

### the pass statement

In [22]:
for i in range(7):
    pass

The 'for' loop is used on iterable/sequence objects such as lists,tuples,dictionaries,sets and also strings/text

## Class Inheritance

In [28]:
class person:
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
    def full_name(x):
        print('First name:',x.fname,',Second name:',x.lname)

In [29]:
n1 = person('Vibodh','Jadhav')

In [30]:
n1.full_name()

First name: Vibodh ,Second name: Jadhav

In [75]:
class student(Person):
    def __init__(self, fname, lname, year):
        Person.__init__(self,fname,lname)
        self.graduation_year = year
    def graduation(x):
        print('Congratulations to',x.fname,x.lname,'for graduating from the class of',x.graduation_year)

In [76]:
s1 = student('Vibodh','Jadhav',2020)

In [77]:
s1.graduation()

Congratulations to Vibodh Jadhav for graduating from the class of 2020

Here, the parent class is 'person' and the child class is 'student'. The child class inherits all the attributes/properties and methods/functions of the parent class, hence the name 'Class inheritance'.

### Inheritance using the super function

In [85]:
class student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname,lname)
        self.graduation_year = year
    def graduation(x):
        print('Congratulations to',x.fname,x.lname,'for graduating from the class of',x.graduation_year)

In [86]:
s1 = student('Vibodh','Jadhav',2020)

In [84]:
s1.graduation()

Congratulations to Vibodh Jadhav for graduating from the class of 2020

## Functions

In [1]:
def hello():
    print('Hello World!')

In [2]:
hello()

Hello World!

In [3]:
def hello():
    print('Enter your name:')
    name = input('')
    print('Hello World!', name)

In [4]:
hello()

Enter your name:
Vibodh
Hello World! Vibodh

### the 'return' statement

In [14]:
def tripler(x):
    return 3*x

In [15]:
tripler(7)

21

In [16]:
tripler(10)

30

From our perspective, a PARAMETER and an ARGUMENT mean the same thing-information passed into the function

From a function's perspective,
A PARAMETER is the variable inside the brackets of a function definition,
An ARGUMENT is the value given to the function when it's called

### Arbitrary arguments AKA *args

In [19]:
def required(*x):
    print('The required stationery is:', x)

In [22]:
required('Ball pen','Eraser','Click pencil')

The required stationery is: ('Ball pen', 'Eraser', 'Click pencil')

Arbitrary arguments are used when the no. of arguments is not fixed/arbitrary.

The input and output are tuples

### List as an argument to a function

In [23]:
def func(stuff):
    for i in stuff:
        print(i)

In [25]:
x = ['Ball pen','Eraser','Click pencil']

In [26]:
func(x)

Ball pen
Eraser
Click pencil

### the pass statement

In [27]:
def func():
    pass

### Recursion

#### fibonacci sequence using recursion

In [2]:
def recur_fibo(n):
    if n<=1:
        return n
    else:
        return(recur_fibo(n-1) + recur_fibo(n-2))

In [3]:
nterms = int(input())
print('The fibonacci sequence of first',nterms,'terms is:')
for i in range(nterms):
    print(recur_fibo(i))

15
The fibonacci sequence of first 15 terms is:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

#### factorial using recursion

In [4]:
def recur_fact(n):
    if n==0:
        return 1
    if n==1 and n==2:
        return n
    else:
        return(n*recur_fact(n-1))

In [2]:
recur_fact(1)

1

In [3]:
recur_fact(2)

2

In [4]:
recur_fact(3)

6

In [7]:
nterms = int(input())
print('The list of first',nterms,'factorials:')
for i in range(nterms):
    print(i,'!=',recur_fact(i))

15
The list of first 15 factorials:
0 != 1
1 != 1
2 != 2
3 != 6
4 != 24
5 != 120
6 != 720
7 != 5040
8 != 40320
9 != 362880
10 != 3628800
11 != 39916800
12 != 479001600
13 != 6227020800
14 != 87178291200

### Keyword arguments

In [8]:
def func(x,y,z):
    print('The required stationery is',x)

In [9]:
func(x='Ball pen',y='Eraser',z='Click pencil')

The required stationery is Ball pen

### Arbitrary keyword arguments

In [10]:
def func(**x):
    print('The last name is:',x['lname'])

In [11]:
func(fname = 'Vibodh', lname = 'Jadhav')

The last name is: Jadhav

### Default parameter value

In [12]:
def func(stationery = 'Ball pen'):
    print('The required stationery is-',stationery)

In [13]:
func('Gel pen')

The required stationery is- Gel pen

In [14]:
func()

The required stationery is- Ball pen

Default parameter value is used when the function receives no output

## Iterators

An iterator is an object which implements the iterator protocol, which consists of the methods __iter__() and __next__()

In [24]:
class numbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a = self.a + 1
        return x

In [28]:
n1 = numbers()

In [30]:
n1_iter = iter(n1)

In [31]:
next(n1)

1

In [33]:
next(n1)

2

In [34]:
next(n1)

3

In [35]:
next(n1)

4

## Scope of a variable

In [1]:
x = 3
def func():
    x = 2
    print(x)

In [2]:
func()

2

In [3]:
print(x)

3

Here, x = 2 i.e x inside the function is a local variable while x=3 i.e x outside the function is a global variable

### the global keyword

In [7]:
x = 3
def func():
    global x
    x = 2
    print(x)

In [8]:
func()

2

In [9]:
print(x)

2

Here, the x inside the function 'func' becomes a global variable